<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">

  	<header>
  		<% include ./partials/header %>
      <img src="/public/images/user_foto.png" float="left" position="absolute">
  	</header>

  	<main>
  		<div class="jumbortron">
  			<h1>My Cv</h1>
  			<p>this is where my Cv should be</p>
  		</div>
  	</main>
    
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <footer>
    	<% include ./partials/footer %>
    </footer>

  </body>
</html>
